.container{
  width:1024px;
  height:768px;
  margin:0 auto;
  background-image: url('./images/bgi.png');
  position: relative;
}
.header{
  height:76px;
  line-height: 76px;;
  background-color:#00796A ;
  text-align: center;
  color:white;
  font-size: 28px;
  position: relative;
}
.header>img{
  position: absolute;
  top:26px;
  right:21px;
}
.ico{
  display: flex;
  flex-direction: column;
  color: #00796A ;
  align-items: center;
  margin-top: 133px;
}




.alert,.alertTwo{
  height:387px;
  width: 100%;
  background-color: #fff;
  color: #00796A;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
}
.alerttit{
  height:58px;
  line-height: 58px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(233, 233, 233, 1);
  padding: 0 21px;
}
.alert div:last-child,.alertTwo>div:last-child{
  width: 978px;
  height:315px;
  background-image: url(./images/bgi2.png);
  margin:0 auto;
  margin-top:13px;
}
.alert div:last-child>div{
  width: 266px;
  height:60px;
  margin: 111px auto;
}
.alert div:last-child::before{
  display: table;
  content: '';
}
.point,.three img,.threeSm img{
  cursor: pointer !important;
}

.three{
  width:660px !important;
  text-align: center;
  margin: 33px auto !important;
}
.one{
  width: 266px;
  margin: 0px auto !important;
  margin-top:147px !important;
}
.One{
  width: 266px;
  margin: 0px auto !important;
  margin-top:58px !important;
}
.line{
  width: auto !important;
  margin: -33px 96px !important;
}
.threeSm{
  width:483px !important;
  height:auto !important;
  text-align: center;
  margin: 33px  30px !important;
  display: flex;
  justify-content: space-between;
}
/* 配置样式 */
.PZcontainer{
  width:1024px;
  height:768px;
  margin:0 auto;
  background-image: url('./images/bgi.png');
  position: relative;
}
.PZheader{
  height:76px;
  line-height: 76px;;
  background-color:#00796A ;
  text-align: center;
  color:white;
  font-size: 28px;
  position: relative;
}

/* 配置IP表格样式重写 */
.ant-spin-nested-loading{
  width: 976px;
  margin:58px auto;
  box-shadow:0px 0px  10px 1px #aaa;
}
.ant-pagination,.ant-table-pagination,.ant-table-pagination-right{
  display: none;
}
.ant-table-tbody tr td:last-child{
  color:#00796A;
  cursor: pointer;
}
/* 配置添加框 */
.AddContainer{
  width: 100%;
  height:100%;
  background-color:rgba(36,36,36,0.2);
  position: absolute;
  top:0px;
  left:0px;
}
.AddContainer::before{
  display: table;
  content: '';
}
.PeiZhiAdd{
  width:548px;
  height:436px;
  background-color:rgba(244,244,244,1);
  border-radius: 4px;
  margin:182px auto;
}
.PeiZhiAdd::before,.PeiZhiAdd::after{
  display: table;
  content: '';
}
.PeiZhiAdd>span:first-child{
  color: #3D8FEC;
  font-size:15px;
  float: left;
  margin: 25px 20px;
}
.PeiZhiAddTit{
  width: 103px;
  color: #333333;
  font-size:20px;
  display: block;
  margin:0 auto;
  margin-top:18px;
  font-family:'SourceHanSansSC-Normal';
}
.PeiZhiMain{
  width:494px;
  height:352px;
  background-color:rgba(255,255,255,1);
  margin:22px auto;
  border-radius: 2px;
}
.PeiZhiMain .input{
  width: 100%;
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid rgba(228, 228, 228, 1);
  color:#333333;
}
.PeiZhiMain div label{
  margin-left:23px;
}
.PeiZhiMain div input{
  margin-right:23px;
  text-align: right;
  border:0px;
  border-bottom:1px solid rgba(228, 228, 228, 1);
  outline: none;
}
.AddSub{
  width:160px;
  height:48px;
  line-height: 48px;
  border-radius:25px;
  background-color: #FF8232;
  font-size:20px;
  color: #fff;
  text-align: center;
  margin:31px auto;
}
